.menu__modal {
  background-color: rgba($c-main, 1);
  position: fixed;
  right: 16px;
  left: 16px;
  top: -160%;
  bottom: 16px;
  height: max-content;
  z-index: 999;
  transition: 0.5s;

  // .logo {
  //   img {
  //     height: 30px;
  //     @media (max-width: 991px) {
  //       height: 20px;
  //     }
  //   }
  // }

  &.active {
    right: 16px;
    left: 16px;
    top: 16px;
    bottom: 16px;
    height: auto;
    width: auto;
    margin: auto;

    @media (width<= 991px) {
      right: 8px;
      left: 8px;
      top: 8px;
      bottom: 8px;
    }
  }

  .content {
    padding: 32px 0;
  }

  &--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 32px;

    .logo {
      display: flex;
      align-items: center;
      gap: 32px;

      .divider {
        height: 60%;
        width: 1px;
        background: rgba($c-gray, 1);
      }
      img {
        height: 32px;
        width: fit-content;

        @media (max-width: 991px) {
          height: 20px;
        }
      }
    }
    .close {
      color: rgba($c-light, 1);
      font-size: 16px;
      font-weight: 500;
    }
    .action {
      display: flex;
      align-items: center;
      gap: 16px;
      text-decoration: none;

      span,
      path {
        color: rgba($c-second, 1);
      }
    }
  }

  &--body {
    // padding: 32px;
    max-height: 100%;
    overflow-x: hidden;
    position: relative;
    height: 100%;
    margin-top: 64px;

    .menu {
      display: flex;
      flex-direction: column;
      gap: 32px;
      list-style: none;
      padding-right: 8px;
      justify-content: space-evenly;
      height: 100%;

      li {
        position: relative;
        display: flex;
        align-items: center;
        gap: 64px;

        a {
          text-decoration: none;
          display: flex;
          align-items: center;

          width: 30%;
          font-size: clamp(24px, 3vw, 32px);
          line-height: 48px;
          text-align: left;
          letter-spacing: 4px;
          font-weight: 700;
          font-family: "Bitter", sans-serif;
          // background-color: $c-white;
          // background-image: linear-gradient(to left, rgba($c-white, .0),rgba($c-white, 1));

          padding: 8px 32px;
          color: $c-white;
          @media (width <= 1199px) {
            width: 40%;
          }
          @media (width <= 991px) {
            width: max-content;
          }
        }
        span {
          color: $c-light;
          font-size: 18px;
          @media (width <= 1199px) {
            width: 60%;
          }
          @media (width <= 991px) {
            display: none;
          }
        }

        &:hover {
          a {
            color: $c-second;
          }

          &::after {
            position: absolute;
            z-index: 1;
            width: 4px;
            height: 100%;
            border-radius: 8px;
            top: 0;
            bottom: 0;
            left: 0px;
            margin: auto;
            background-color: rgba($c-second, 1);
            content: "";
          }
        }
      }

      .active {
        a {
          color: $c-second;
        }

        &::after {
          position: absolute;
          z-index: 1;
          width: 4px;
          height: 100%;
          border-radius: 8px;
          top: 0;
          bottom: 0;
          left: 0px;
          margin: auto;
          background-color: rgba($c-second, 1);
          content: "";
        }
      }
    }
  }

  .social {
    position: absolute;
    bottom: 0;
    padding: 16px;
    width: 100%;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}

.menu__modal--overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 99;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
